/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

/* =========================
   HEADER - CLON STARBUCKS
========================= */
.main-header {
  border-bottom: 1px solid #bdbdbd;
  padding: 20px 0;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;

  display: flex;
  justify-content: space-between; /* alineación horizontal */
  align-items: center;            /* alineación vertical */
}

.header-left {
  display: flex;
  align-items: center;
  gap: 25px;
}

.logo img {
  width: 50px;
}

nav {
  display: flex;
  gap: 18px;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #00754a;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.location a {
  text-decoration: none;
  color: #000;
}

.location a:hover {
  color: #00754a;
}

.btn-registro {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.btn-iniciar {
  padding: 10px 20px;
  border-radius: 25px;
  border: 1px solid #000;
  background-color: #fff;
  font-weight: bold;
  cursor: pointer;
}

/* =========================
   FLEXBOX - ALINEACIÓN
========================= */
.layout {
  padding: 40px 20px;
}

.section-title {
  margin-bottom: 25px;
}

.contenedor-flexible {
  display: flex;

  justify-content: space-between; /* alineación eje principal */
  align-items: center;            /* alineación eje cruzado */
  align-content: center;
  gap: 10px;

  width: 100%;
  max-width: 600px;
  height: 300px;

  background-color: blueviolet;
  border: 2px solid black;
}

.boxy {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80px;
  background-color: orange;
  border: 2px solid black;
  font-size: 1.5rem;
  color: black;
}

/* Alineación individual */
.pato {
  width: 30%;
  align-self: flex-start; /* sobrescribe alineación del contenedor */
}

.foca {
  width: 30%;
  align-self: center;
  flex-shrink: 2; /* ejemplo de contracción */
}

.vaca {
  width: 30%;
  align-self: flex-end;
}

.perro {
  flex-grow: 1; /* ejemplo de crecimiento */
}
